# Backend
backend/.venv/
backend/__pycache__/
backend/*.py[cod]
backend/.env
backend/whatsapp_db.sqlite
backend/whatsapp_db.sqlite-journal

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Database files
*.db
*.sqlite
*.sqlite3
*.sqlite-journal

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

